In [1]:
import pandas as pd
stats = pd.read_csv('Data/stats.csv')  # read data from csv file
stats

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,...,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,...,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,...,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,...,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,...,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Huddersfield Town,9.0,19.0,28.0,62.0,3.0,362.0,109.0,8.0,5.0,...,765.0,165.0,22619.0,21.0,6.0,416.0,2.0,31.0,24.0,2017-2018
236,Swansea City,8.0,21.0,28.0,51.0,1.0,338.0,103.0,8.0,3.0,...,694.0,150.0,22775.0,26.0,1.0,439.0,3.0,44.0,15.0,2017-2018
237,Southampton,7.0,16.0,37.0,63.0,2.0,450.0,145.0,15.0,7.0,...,800.0,227.0,24639.0,37.0,4.0,379.0,1.0,29.0,13.0,2017-2018
238,Stoke City,7.0,19.0,35.0,62.0,1.0,384.0,132.0,8.0,8.0,...,598.0,136.0,20368.0,33.0,3.0,402.0,0.0,27.0,14.0,2017-2018
239,West Bromwich Albion,6.0,19.0,31.0,73.0,1.0,378.0,114.0,7.0,10.0,...,784.0,176.0,20552.0,28.0,3.0,446.0,0.0,40.0,5.0,2017-2018

In [2]:
stats.shape

(240, 42)

In [3]:
results = pd.read_csv('Data/results.csv')
results

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007
...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3.0,0.0,H,2017-2018
4556,Southampton,Manchester City,0.0,1.0,A,2017-2018
4557,Swansea City,Stoke City,1.0,2.0,A,2017-2018
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018
4559,West Ham United,Everton,3.0,1.0,H,2017-2018

In [4]:
results.shape

(4560, 6)

## Total matches to find missing data

380 matches over 12 seasons

In [5]:
stats["team"].value_counts()

team
Manchester United           12
Liverpool                   12
Arsenal                     12
Tottenham Hotspur           12
Chelsea                     12
Everton                     12
Manchester City             12
West Ham United             11
Sunderland                  10
Newcastle United            10
Aston Villa                 10
Stoke City                  10
West Bromwich Albion         9
Fulham                       8
Swansea City                 7
Wigan Athletic               7
Southampton                  6
Blackburn Rovers             6
Bolton Wanderers             6
Hull City                    5
Crystal Palace               5
Norwich City                 4
Leicester City               4
Burnley                      4
Watford                      4
Middlesbrough                4
Portsmouth                   4
Wolverhampton Wanderers      3
Birmingham City              3
Queens Park Rangers          3
Reading                      3
AFC Bournemouth              3
Derby County                 1
Blackpool                    1
Charlton Athletic            1
Sheffield United             1
Cardiff City                 1
Brighton and Hove Albion     1
Huddersfield Town            1
Name: count, dtype: int64

In [6]:
results.dtypes

home_team      object
away_team      object
home_goals    float64
away_goals    float64
result         object
season         object
dtype: object

In [7]:
stats.dtypes

team                     object
wins                    float64
losses                  float64
goals                   float64
total_yel_card          float64
total_red_card          float64
total_scoring_att       float64
ontarget_scoring_att    float64
hit_woodwork            float64
att_hd_goal             float64
att_pen_goal            float64
att_freekick_goal       float64
att_ibox_goal           float64
att_obox_goal           float64
goal_fastbreak          float64
total_offside           float64
clean_sheet             float64
goals_conceded          float64
saves                   float64
outfielder_block        float64
interception            float64
total_tackle            float64
last_man_tackle         float64
total_clearance         float64
head_clearance          float64
own_goals               float64
penalty_conceded        float64
pen_goals_conceded      float64
total_pass              float64
total_through_ball      float64
total_long_balls        float64
backward_pass           float64
total_cross             float64
corner_taken            float64
touches                 float64
big_chance_missed       float64
clearance_off_line      float64
dispossessed            float64
penalty_save            float64
total_high_claim        float64
punches                 float64
season                   object
dtype: object

In [8]:
results["away_code"] = results["away_team"].astype("category").cat.codes

In [9]:
results

,home_team,away_team,home_goals,away_goals,result,season,away_code
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007,19
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007,2
2,Everton,Watford,2.0,1.0,H,2006-2007,34
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007,37
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007,4
...,...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3.0,0.0,H,2017-2018,11
4556,Southampton,Manchester City,0.0,1.0,A,2017-2018,20
4557,Swansea City,Stoke City,1.0,2.0,A,2017-2018,30
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018,18
4559,West Ham United,Everton,3.0,1.0,H,2017-2018,14

In [10]:
results["home_code"] = results["home_team"].astype("category").cat.codes

In [11]:
results

,home_team,away_team,home_goals,away_goals,result,season,away_code,home_code
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007,19,28
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007,2,1
2,Everton,Watford,2.0,1.0,H,2006-2007,34,14
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007,37,23
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007,4,25
...,...,...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3.0,0.0,H,2017-2018,11,23
4556,Southampton,Manchester City,0.0,1.0,A,2017-2018,20,29
4557,Swansea City,Stoke City,1.0,2.0,A,2017-2018,30,32
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018,18,33
4559,West Ham United,Everton,3.0,1.0,H,2017-2018,14,36