In [105]:
import pandas as pd
stats = pd.read_csv('Data/stats.csv')  # read data from csv file
stats

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,...,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,...,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,...,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,...,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,...,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Huddersfield Town,9.0,19.0,28.0,62.0,3.0,362.0,109.0,8.0,5.0,...,765.0,165.0,22619.0,21.0,6.0,416.0,2.0,31.0,24.0,2017-2018
236,Swansea City,8.0,21.0,28.0,51.0,1.0,338.0,103.0,8.0,3.0,...,694.0,150.0,22775.0,26.0,1.0,439.0,3.0,44.0,15.0,2017-2018
237,Southampton,7.0,16.0,37.0,63.0,2.0,450.0,145.0,15.0,7.0,...,800.0,227.0,24639.0,37.0,4.0,379.0,1.0,29.0,13.0,2017-2018
238,Stoke City,7.0,19.0,35.0,62.0,1.0,384.0,132.0,8.0,8.0,...,598.0,136.0,20368.0,33.0,3.0,402.0,0.0,27.0,14.0,2017-2018
239,West Bromwich Albion,6.0,19.0,31.0,73.0,1.0,378.0,114.0,7.0,10.0,...,784.0,176.0,20552.0,28.0,3.0,446.0,0.0,40.0,5.0,2017-2018

In [106]:
stats.shape

(240, 42)

In [107]:
results = pd.read_csv('Data/results.csv')
results

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007
...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3.0,0.0,H,2017-2018
4556,Southampton,Manchester City,0.0,1.0,A,2017-2018
4557,Swansea City,Stoke City,1.0,2.0,A,2017-2018
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018
4559,West Ham United,Everton,3.0,1.0,H,2017-2018

In [108]:
results.shape

(4560, 6)

## Total matches to find missing data

380 matches over 12 seasons

In [109]:
stats["team"].value_counts()

team
Manchester United           12
Liverpool                   12
Arsenal                     12
Tottenham Hotspur           12
Chelsea                     12
Everton                     12
Manchester City             12
West Ham United             11
Sunderland                  10
Newcastle United            10
Aston Villa                 10
Stoke City                  10
West Bromwich Albion         9
Fulham                       8
Swansea City                 7
Wigan Athletic               7
Southampton                  6
Blackburn Rovers             6
Bolton Wanderers             6
Hull City                    5
Crystal Palace               5
Norwich City                 4
Leicester City               4
Burnley                      4
Watford                      4
Middlesbrough                4
Portsmouth                   4
Wolverhampton Wanderers      3
Birmingham City              3
Queens Park Rangers          3
Reading                      3
AFC Bournemouth              3
Derby County                 1
Blackpool                    1
Charlton Athletic            1
Sheffield United             1
Cardiff City                 1
Brighton and Hove Albion     1
Huddersfield Town            1
Name: count, dtype: int64

In [110]:
results["home_team"].value_counts()

home_team
Arsenal                     228
Everton                     228
Liverpool                   228
Manchester City             228
Manchester United           228
Chelsea                     228
Tottenham Hotspur           228
West Ham United             209
Aston Villa                 190
Newcastle United            190
Stoke City                  190
Sunderland                  190
West Bromwich Albion        171
Fulham                      152
Swansea City                133
Wigan Athletic              133
Bolton Wanderers            114
Blackburn Rovers            114
Southampton                 114
Hull City                    95
Crystal Palace               95
Watford                      76
Burnley                      76
Leicester City               76
Norwich City                 76
Portsmouth                   76
Middlesbrough                76
AFC Bournemouth              57
Birmingham City              57
Wolverhampton Wanderers      57
Queens Park Rangers          57
Reading                      57
Cardiff City                 19
Brighton and Hove Albion     19
Sheffield United             19
Blackpool                    19
Derby County                 19
Charlton Athletic            19
Huddersfield Town            19
Name: count, dtype: int64

In [111]:
results.dtypes

home_team      object
away_team      object
home_goals    float64
away_goals    float64
result         object
season         object
dtype: object

In [112]:
stats.dtypes

team                     object
wins                    float64
losses                  float64
goals                   float64
total_yel_card          float64
total_red_card          float64
total_scoring_att       float64
ontarget_scoring_att    float64
hit_woodwork            float64
att_hd_goal             float64
att_pen_goal            float64
att_freekick_goal       float64
att_ibox_goal           float64
att_obox_goal           float64
goal_fastbreak          float64
total_offside           float64
clean_sheet             float64
goals_conceded          float64
saves                   float64
outfielder_block        float64
interception            float64
total_tackle            float64
last_man_tackle         float64
total_clearance         float64
head_clearance          float64
own_goals               float64
penalty_conceded        float64
pen_goals_conceded      float64
total_pass              float64
total_through_ball      float64
total_long_balls        float64
backward_pass           float64
total_cross             float64
corner_taken            float64
touches                 float64
big_chance_missed       float64
clearance_off_line      float64
dispossessed            float64
penalty_save            float64
total_high_claim        float64
punches                 float64
season                   object
dtype: object

In [113]:
results["away_code"] = results["away_team"].astype("category").cat.codes

In [114]:
results

,home_team,away_team,home_goals,away_goals,result,season,away_code
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007,19
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007,2
2,Everton,Watford,2.0,1.0,H,2006-2007,34
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007,37
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007,4
...,...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3.0,0.0,H,2017-2018,11
4556,Southampton,Manchester City,0.0,1.0,A,2017-2018,20
4557,Swansea City,Stoke City,1.0,2.0,A,2017-2018,30
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018,18
4559,West Ham United,Everton,3.0,1.0,H,2017-2018,14

In [115]:
results["home_code"] = results["home_team"].astype("category").cat.codes

In [116]:
results

,home_team,away_team,home_goals,away_goals,result,season,away_code,home_code
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007,19,28
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007,2,1
2,Everton,Watford,2.0,1.0,H,2006-2007,34,14
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007,37,23
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007,4,25
...,...,...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3.0,0.0,H,2017-2018,11,23
4556,Southampton,Manchester City,0.0,1.0,A,2017-2018,20,29
4557,Swansea City,Stoke City,1.0,2.0,A,2017-2018,30,32
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018,18,33
4559,West Ham United,Everton,3.0,1.0,H,2017-2018,14,36

## Merge datasets

In [117]:
# Combine the team names from both datasets to ensure consistent encoding
all_teams = pd.concat([results['home_team'], results['away_team'], stats['team']]).unique()

# Create a mapping for team names to unique codes
team_code_mapping = {team: code for code, team in enumerate(all_teams)}

# Apply the encoding to the results dataset
results['home_code'] = results['home_team'].map(team_code_mapping)
results['away_code'] = results['away_team'].map(team_code_mapping)

# Apply the encoding to the stats dataset
stats['team_code'] = stats['team'].map(team_code_mapping)

# Display the mapping and check the results
team_code_mapping, results.head(), stats.head()

({'Sheffield United': 0,
  'Arsenal': 1,
  'Everton': 2,
  'Newcastle United': 3,
  'Portsmouth': 4,
  'Reading': 5,
  'West Ham United': 6,
  'Bolton Wanderers': 7,
  'Manchester United': 8,
  'Chelsea': 9,
  'Watford': 10,
  'Tottenham Hotspur': 11,
  'Aston Villa': 12,
  'Manchester City': 13,
  'Blackburn Rovers': 14,
  'Charlton Athletic': 15,
  'Fulham': 16,
  'Middlesbrough': 17,
  'Liverpool': 18,
  'Wigan Athletic': 19,
  'Sunderland': 20,
  'Derby County': 21,
  'Birmingham City': 22,
  'Hull City': 23,
  'Stoke City': 24,
  'West Bromwich Albion': 25,
  'Wolverhampton Wanderers': 26,
  'Burnley': 27,
  'Blackpool': 28,
  'Queens Park Rangers': 29,
  'Swansea City': 30,
  'Norwich City': 31,
  'Southampton': 32,
  'Crystal Palace': 33,
  'Cardiff City': 34,
  'Leicester City': 35,
  'AFC Bournemouth': 36,
  'Brighton and Hove Albion': 37,
  'Huddersfield Town': 38},
           home_team         away_team  home_goals  away_goals result  \
 0  Sheffield United         Liverpool         1.0         1.0      D
 1           Arsenal       Aston Villa         1.0         1.0      D
 2           Everton           Watford         2.0         1.0      H
 3  Newcastle United    Wigan Athletic         2.0         1.0      H
 4        Portsmouth  Blackburn Rovers         3.0         0.0      H

       season  away_code  home_code
 0  2006-2007         18          0
 1  2006-2007         12          1
 2  2006-2007         10          2
 3  2006-2007         19          3
 4  2006-2007         14          4  ,
                 team  wins  losses  goals  total_yel_card  total_red_card  \
 0  Manchester United  28.0     5.0   83.0            60.0             1.0
 1            Chelsea  24.0     3.0   64.0            62.0             4.0
 2          Liverpool  20.0    10.0   57.0            44.0             0.0
 3            Arsenal  19.0     8.0   63.0            59.0             3.0
 4  Tottenham Hotspur  17.0    12.0   57.0            48.0             3.0

    total_scoring_att  ontarget_scoring_att  hit_woodwork  att_hd_goal  ...  \
 0              698.0                 256.0          21.0         12.0  ...
 1              636.0                 216.0          14.0         16.0  ...
 2              668.0                 214.0          15.0          8.0  ...
 3              638.0                 226.0          19.0         10.0  ...
 4              520.0                 184.0           6.0          5.0  ...

    corner_taken  touches  big_chance_missed  clearance_off_line  dispossessed  \
 0         258.0  25686.0                NaN                 1.0           NaN
 1         231.0  24010.0                NaN                 2.0           NaN
 2         282.0  24150.0                NaN                 1.0           NaN
 3         278.0  25592.0                NaN                 1.0           NaN
 4         181.0  22200.0                NaN                 2.0           NaN

    penalty_save  total_high_claim  punches     season  team_code
 0           2.0              37.0     25.0  2006-2007          8
 1           1.0              74.0     22.0  2006-2007          9
 2           0.0              51.0     27.0  2006-2007         18
 3           0.0              88.0     27.0  2006-2007          1
 4           0.0              51.0     24.0  2006-2007         11

 [5 rows x 43 columns])

In [118]:
# Merge home team stats
results_with_home_stats = results.merge(stats, left_on=['home_code', 'season'], right_on=['team_code', 'season'], how='left', suffixes=('', '_home'))

# Merge away team stats
results_with_full_stats = results_with_home_stats.merge(stats, left_on=['away_code', 'season'], right_on=['team_code', 'season'], how='left', suffixes=('', '_away'))

# Drop the redundant team_code columns from the stats after merging
results_with_full_stats = results_with_full_stats.drop(columns=['team_code', 'team_code_away'])

# Display the first few rows to check the merged data
results_with_full_stats.head()

,home_team,away_team,home_goals,away_goals,result,season,away_code,home_code,team,wins,...,backward_pass_away,total_cross_away,corner_taken_away,touches_away,big_chance_missed_away,clearance_off_line_away,dispossessed_away,penalty_save_away,total_high_claim_away,punches_away
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007,18,0,Sheffield United,10.0,...,NaN,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007,12,1,Arsenal,19.0,...,NaN,886.0,213.0,20002.0,NaN,5.0,NaN,0.0,57.0,26.0
2,Everton,Watford,2.0,1.0,H,2006-2007,10,2,Everton,15.0,...,NaN,983.0,212.0,16772.0,NaN,3.0,NaN,0.0,63.0,15.0
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007,19,3,Newcastle United,11.0,...,NaN,813.0,177.0,17564.0,NaN,4.0,NaN,2.0,61.0,29.0
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007,14,4,Portsmouth,14.0,...,NaN,911.0,205.0,20812.0,NaN,8.0,NaN,5.0,56.0,25.0

In [119]:
# Export the merged dataset to a CSV file
results_with_full_stats.to_csv('merged_results_with_stats.csv', index=False)

## Missing data

In [120]:
# Check for missing values in the dataset
missing_values = results_with_full_stats.isnull().sum()

# Display columns with missing values
missing_values[missing_values > 0]

saves                       380
head_clearance              380
total_through_ball          380
backward_pass              1520
big_chance_missed          1520
dispossessed                380
saves_away                  380
head_clearance_away         380
total_through_ball_away     380
backward_pass_away         1520
big_chance_missed_away     1520
dispossessed_away           380
dtype: int64

#### Replace missing values with 0 for stats related columns

In [121]:
# Fill missing values with 0 for any missing data
data_filled = results_with_full_stats.fillna(0)

### Feature scaling, categorial

In [122]:
# Encode the 'result' column (target variable) into numeric values
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
data_filled['result_encoded'] = label_encoder.fit_transform(data_filled['result'])

# Drop unnecessary columns (e.g., team names, season, result)
X = data_filled.drop(columns=['result', 'result_encoded', 'home_team', 'away_team', 'season'])

# Identify and encode any remaining categorical columns in the features
non_numeric_columns = X.select_dtypes(include=['object']).columns
for column in non_numeric_columns:
    X[column] = X[column].astype('category').cat.codes

# Define the target variable
y = data_filled['result_encoded']

### Split data into trainging and test sets

In [123]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Training the model

In [124]:
# Initialize the RandomForest model
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=42)

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

### Accuracy

In [125]:
# Calculate accuracy
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

print(f"Model accuracy: {accuracy:.4f}")

Model accuracy: 0.8958

### Confusion matrix

In [126]:
combined = pd.DataFrame(dict(actual=y_test, predicted=y_pred))
conf_matrix = pd.crosstab(index=combined["actual"], columns=combined["predicted"])
print(conf_matrix)

predicted    0    1    2
actual
0          240   17    4
1           19  185   33
2            4   18  392